@model List<Note>

<h1>NoSQL Notebook</h1>

<p>The Notebook has full CRUD capability and is hosted on Google Datastore, and is queried using NoSQL technology.</p>

<a asp-action="Add" asp-route-category="" class="btn btn-primary">Add a Note</a>

<br/>

<div class="card card-margin">
    <div class="card-header">
        <h5>Note Categories:</h5>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (Category category in (Category[]) Enum.GetValues(typeof(Category)))
        {
            <li class="list-group-item">
                @category<a asp-action="Category" asp-route-category="@category" class="btn btn-primary btn-right">View Notes</a>
            </li>
        }
    </ul>
</div>