/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom button styles
-------------------------------------------------- */

#button-google-auth {
    background: url(images/btn_google_signin_dark_normal_web.png);
    cursor: pointer;
    border: none;
    height: 46px;
    width: 191px;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#button-google-auth:hover {
    background: url(images/btn_google_signin_dark_pressed_web.png);
    box-shadow: none;
}

#button-google-auth:focus {
    background: url(images/btn_google_signin_dark_focus_web.png);
    box-shadow: none;
    transition: 0.3s;
}

.card {
    margin: 10px;
}